@use '../../../scss/mixins.scss' as *;
@use '../../../scss/library.scss' as *;

.services_section {
    padding: $spacing-normal;
    color: $secondary-color;
    display: grid;
    place-items: center;
    min-height: 50vh;

    &__header {
        @include section-header();
        @include border-accent-shape();
    }

    &__wrapper {
        width: 100%;
        display: flex;
        justify-content: space-around;

        @include for-small-screen() {
            display: grid;
            place-items: center;
        }
    }

    &__card {
        display: grid;
        min-height: 300px;
        padding: $spacing-small;
        margin: $spacing-small;
        place-items: center;
        grid-template-rows: 1fr 2fr 1fr;
        transition: .3s ease-in-out;
        box-shadow: 10px 10px 10px rgba($color: #000000, $alpha: 0.3);

        @include border-shape();

        &:hover {
            transform: translateY(-5%);
        }
    }

    &__card_header {
        text-align: center;
        font-size: $text-larger;
    }

    &__btn {
        @include button-component();
    }
}