@use '../../../scss/library.scss' as *;
@use '../../../scss/mixins.scss' as *;

.hero {
    min-height: 100vh;
    padding: $spacing-normal;
    color: $secondary-color;

    @include for-tablet () {
        display: grid;
        place-items: center;
        grid-gap: 2rem;
    }

    @include flex-align();

    &__text {
        font-size: $text-larger;
        display: block;
        max-width: 50%;

        @include for-small-screen () {
            font-size: $text-size-base;
        }

        @include for-tablet () {
            font-size: $text-size-base;
            max-width: 80%;
        }

        @include for-phone () {
            font-size: $text-small;
        }
    }

    &__highlight {
        color: $accents-color;
    }

    &__image {
        width: 700px;

        @media (max-width: 1280) {
            width: 600px;
        }

        @include for-small-screen () {
            width: 350px;
        }

        @include for-phone () {
            width: 200px;
        }
    }


}