$main-color: #2B3467;
$secondary-color: #BAD7E9;
$accents-color: #EB455F;

$spacing-base: 2rem;
$spacing-small: $spacing-base * 0.5;
$spacing-normal: $spacing-base;
$spacing-large: $spacing-base * 2;

$text-size-base: 1.5rem;
$text-small: $text-size-base * 0.8;
$text-larger: $text-size-base * 1.5;
$text-xxl: $text-size-base * 2;

$font-light: 300;
$font-regular: 400;
$font-bold: 700;