@use './library.scss' as *;
@use './mixins.scss' as *;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    @include montserrat-base;
    background-color: $main-color;
    display: grid;
}

hr {
    border-color: $secondary-color;
}