@use './library.scss' as *;
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&family=Tilt+Prism&display=swap');

@mixin for-phone {
    @media (max-width: 420px) {
        @content
    }
}

;

@mixin for-tablet {
    @media (max-width: 728px) {
        @content
    }
}

;

@mixin for-small-screen {
    @media (max-width: 1280px) {
        @content
    }
}

;


@mixin montserrat-base {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: $font-regular;
}

@mixin section-header {
    font-size: $text-xxl;
    text-align: center;
    margin: $spacing-normal;
}

@mixin flex-align {
    display: flex;
    align-items: center;
    justify-content: space-around
}

@mixin flex-align {
    display: flex;
    align-items: center;
    justify-content: space-around
}

@mixin border-accent-shape {
    border-bottom: 5px solid $accents-color;
    border-radius: 5px;
}

@mixin border-shape {
    border: 3px solid $secondary-color;
    border-radius: 10px;
}

@mixin button-component {
    color: $secondary-color;
    background-color: $main-color;
    font-weight: $font-bold;
    font-size: $text-size-base;
    padding: $spacing-small;
    transition: .3s ease-in-out;
    text-align: center;
    width: fit-content;
    cursor: pointer;

    @include border-shape();

    &:hover {
        color: $accents-color;
        transform: scale(1.1);
    }
}